<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <style type="text/css">
                {#.container {#}
                {#    width: 70%;#}
                {#    margin-top: 20px;#}
                {#    margin-left: auto;#}
                {#    margin-right: auto;#}
                {#}#}

                .item-img {
                  width: 600px;
                  height: 350px;
                }

            </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <title>Личный кабинет</title>
        <meta name="theme-color" content="#222120">
        <link rel="manifest" href="../static/manifest.json">
        <link rel="icon" href="../static/images/icon-192x192.png">
        <meta name="viewport"    content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="your_pwa_description">
        <link rel="apple-touch-icon" href="../static/images/icon-96x96.png">
        <meta name="apple-mobile-web-app-capable"          content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection"                      content="telephone=no">
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    </head>

    <body>
        <script scr="../static/js/app.js"></script>
        <form method="post">
            <div class="container">
                <button class="btn btn-success" name="end" value="1">В личный кабинет</button>
                <div class="row">
                    <div class="col">
                        {% for i in dislike %}
                            <ly class="row">
                                <ly class="col">
                                    <img src="{{ i.photo.split()[0] }}" class="item-img" alt="...">
                                </ly>
                                <ly class="col">
                                    <h3 class="card-title">{{ i.price }} ₽/мес.</h3>
                                </ly>
                            </ly>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>