<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<style type="text/css">
			.container {
				width: 70%;
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
    <title>Личный кабинет</title>
</head>
<body>
<form method="post">
    <div class="card bg-dark text-white">
        <div class="card-img-overlay">
            <p class="text-center" class="font-weight-bold" class="text-primary"><font size="50" color="blue" face="comic sans" padding="2px">Вы вошли</p>
            <button class="btn btn-primary" type="submit" name="exit" value="exit">Выйти</button>
  </div>
</div>
</form>
</body>
</html>